@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Montagu+Slab:opsz,wght@16..144,100..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');

.Reviews-section {
  background-color: rgb(33, 37, 41); /* different from services */
  text-align: center;
  color:#fff;
  padding: 60px 20px;
}

.Reviews-section h2 {
  font-size: 2rem;
  font-family: "Open Sans","Montagu Slab", sans-serif;
  font-weight:600;
  margin-bottom: 40px;
  color: white;
  animation: reviewshead linear;
  animation-timeline: view();
  animation-range:entry 0% cover 40%;
}

.Reviews-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  animation: reviewshead linear;
  animation-timeline: view();
  animation-range:entry 0% cover 40%;
}

.review-box {
  background-color: #fff;
  padding: 35px 25px;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  flex: 1 1 calc(33.333% - 30px); /* default: 3 per row */
  max-width: calc(33.333% - 30px);
  box-sizing: border-box;
  transition: transform 0.3s, box-shadow 0.3s;
}

.review-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 30px rgba(19, 18, 18, 0.15);
}

.review-box h3 {
  font-size: 1.9rem;
  font-weight: bolder;
  text-shadow: 0 0 1px black;
  color:#101010;
  margin-top: 10px;
}

.review-box h4 {
  font-size: 1rem;
  color: #302f2f;
  margin: 5px 0 15px 0;
}

.review-box p {
  font-size: 1rem;
  color: #333;
  line-height: 1.6;
}

@keyframes reviewshead{
  from{
    opacity: 0;
    scale: 0.5;
  }
  to{
    opacity: 1;
    scale:1;
  }
}

/* Tablet view: 2 per row */
@media (max-width: 992px) {
  .review-box {
    flex: 1 1 calc(50% - 30px);
    max-width: calc(50% - 30px);
  }
}

/* Mobile view: 1 per row */
@media (max-width: 576px) {
  .review-box {
    flex: 1 1 100%;
    max-width: 100%;
  }
}
