.Services-section{
    text-align: center;
    padding:30px 20px;
    background-color:rgb(33, 37, 41);
}
.Services-section h2{
        margin:20px;
        font-size:2rem;
        color: #fff;
}
.Services-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.service-box{
    background-color: white;
    max-width: 250px;
    box-shadow: 0 0 10px black;
    color:black;
    padding:20px;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
}
.service-box h3 {
    font-size: 1.2 rem;
    margin-bottom: 10px;
}
.service-box p{
    font-size:1 rem;  
}

.service-box:hover {
    transform: translateY(-3px);
    box-shadow: 0 0 20px black;
    background-color:rgb(248, 232, 186);
    cursor: pointer;
}