.hero-section {
    position: relative;
  }
  
  .hero-section::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4); /* dark overlay */
  }
  
  .hero-section .container {
    position: relative;
    z-index: 2;
  }
  .hero-section{
   margin-top: 80px; /* Adjust as needed */
  }

  