.navbar {
  height: 60px;
  background: #222;
  border-bottom: 1px solid #eaeaea;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 8;
  max-width:100%;
}

.navbar-title {
  font-weight: 700;
  color: white;
  font-size: 18px;
}

/* Actions (right side) */
.navbar-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-btn {
  background: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: white;
}

/* Hamburger hidden on desktop */
.hamburger {
  font-size: 24px;
  background: transparent;
  border: none;
  cursor: pointer;
  display: none;
  color: white;
}

/* --- Mobile View --- */
@media (max-width: 768px) {
  .hamburger {
    display: block; /* show hamburger */
    position:absolute;
    left:16px;
  }

  .navbar {
    position: relative;
    justify-content:center; /* left - center - right */
  }

  .navbar-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
  
  .navbar-actions {
    position: absolute;
    right: 16px;
}

}
