/* Sidebar container */
.sidebar {
  width: 260px;
  background: rgb(33, 37, 41);
  color: #e9e9f1;
  display: flex;
  flex-direction: column;
  height: 100vh;   /* Full height */
  position: fixed; /* Stays fixed */
  top: 0;
  left: 0;
  bottom: 0;
  transition: transform 0.3s ease;
  z-index: 100;
}

/* off-canvas hidden state (mobile) */
.sidebar.closed {
  transform: translateX(-100%);
}

/* keep visible on desktop */
@media (min-width: 769px) {
  .sidebar.closed {
    transform: translateX(0);
  }
}

/* Sidebar header */
.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 18px;
  background: #16182a;
  border-bottom: 1px solid rgba(255, 255, 255, 0.06);
}

.sidebar-header h2 {
  font-size:20px;
  margin:0 20px;
}

.toggle-btn {
  background: transparent;
  border: none;
  color: #fff;
  font-size: 22px;
  cursor: pointer;
}

/* Menu */
.sidebar-menu {
  list-style: none;
  padding: 10px 8px;
  margin: 0;
  flex: 1; /* take available space */
  overflow-y: auto; /* scroll if content long */
}

.sidebar-menu li {
  margin:30px 10px;
}

.sidebar-menu a,
.submenu-title {
  width: 100%;
  display: block;
  padding: 10px 14px;
  border-radius: 8px;
  text-decoration: none;
  color: #cdd0e1;
  font-size:17px;
  font-weight:500;
  background: transparent;
  cursor: pointer;
  text-align: left;
}

.sidebar-menu li.active > a,
.sidebar-menu a:hover,
.submenu-title:hover {
  color:black;
  background: #f8db37;
}

/* Submenu */
.has-submenu .submenu {
  padding-left: 10px;
}

.submenu li a {
  padding-left: 28px;
}

/* Footer (Logout at bottom) */
.sidebar-footer {
  padding: 12px;
  border-top: 1px solid rgba(255, 255, 255, 0.08);
  margin-top: auto; /* pushes it to bottom */
}

.logout-btn {
  width: 100%;
  padding: 10px 14px;
  border: none;
  border-radius: 8px;
  background:#f8db37;
  color:black;
  font-weight:600;
  cursor: pointer;
}

.logout-btn:hover {
  background: #e2c832;
}

/* Mobile behavior */
@media (max-width: 768px) {
  .sidebar {
    transform: translateX(-100%);
  }
  .sidebar.open {
    transform: translateX(0);
  }
}
