/* Container */
.browsejobs-container {
  max-width: 1200px;
  margin:10px auto 40px;
  padding: 20px;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Title */
.browsejobs-container h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;
  color: #222;
}

/* Job Cards Wrapper */
.jobcards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
}

/* Single Job Card */
.jobcard {
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  text-align: left;
  box-shadow: 0 1px 5px black;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.jobcard:hover {
  transform: translateY(-5px);
  box-shadow: 0 1px 10px black;
}

/* Job Title */
.jobcard h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: black;
  font-size: 24px;
  font-weight:700;
  text-shadow:0 0 1px orange;
}

/* Job Info */
.jobcard p {
  margin: 6px 0;
  font-size: 15px;
  color: #555;
}

.jobcard p strong {
  color: #222;
}

/* Actions */
.job-actions {
  margin-top: 15px;
  text-align: right;
}

.viewjob-btn {
  padding: 10px 16px;
  font-size: 14px;
  font-weight:700;
  background: #f8db37;
  color: black;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.viewjob-btn:hover {
  background: #f8e36a;
  border:1px solid black;
}
